<div class="gh-canvas">
    <div class="navigation">
        {{#prev_post}}
            <a class="navigation-item navigation-previous" href="{{url}}">
                <span class="navigation-label">Previous</span>
                <h4 class="navigation-title">{{title}}</h4>
            </a>
        {{/prev_post}}
        {{#next_post}}
            <a class="navigation-item navigation-next" href="{{url}}">
                <span class="navigation-label">Next</span>
                <h4 class="navigation-title">{{title}}</h4>
            </a>
        {{/next_post}}
    </div>
</div>