<div class="related-wrapper gh-outer">
    {{#get "posts" limit="3" filter="tags:[{{post.tags}}]+id:-{{post.id}}" include="tags,authors" as |related|}}
        {{#if related}}
        <section class="related-posts gh-inner">
            <h3 class="related-title">
                <span class="text">You may also like</span>
            </h3>
            <div class="post-feed">
                {{#foreach related }}
                    {{> "loop"}}
                {{/foreach}}
            </div>
        </section>
        {{/if}}
    {{/get}}
</div>