.u-shadow {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: var(--shadow-base);
  transition: box-shadow 0.3s var(--animation-base);
}

.u-shadow:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
}

.u-placeholder {
  position: relative;
  z-index: 10;
  /* background-color: var(--light-gray-color); */
}

.u-placeholder.same-height {
  height: 0;
}

.u-placeholder.rectangle {
  padding-bottom: 56.25%;
}

.u-object-fit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.u-permalink {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  outline: none;
}
