b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.zip

pids
logs
results

npm-debug.log
node_modules

.idea/*
*.iml
projectFilesBackup

/assets/built/
/assets/dist/
/dist/
/import-posts/ghost-posts.json
/import-posts/posts.json
node_modules/
*.DS_Store
*.~undo-tree~