{{!< default}}

<div class="gh-outer">
<main class="site-main gh-inner">

    {{#author}}
    <div class="term">
        <div class="author-image-placeholder u-placeholder">
            <img class="author-image u-object-fit" src="{{img_url profile_image size="xs"}}" alt="{{name}}">
        </div>
        <h1 class="term-name">{{name}}</h1>
    </div>
    {{/author}}

    <div class="post-feed gh-feed">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>

</main>
</div>