{{!< default}}

<section class="gh-page gh-error">
    <div class="gh-container">

        <section class="gh-error-content">
            <h1 class="gh-error-code">{{statusCode}}</h1>
            <p class="gh-error-description">{{message}}</p>
            <p class="gh-error-link"><a href="{{@site.url}}">Go to the front page →</a></p>
        </section>

    </div>
</section>
