{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#is "home"}}
    {{#if @blog.description}}
    <header class="page-head">
        <h2 class="page-head-title">{{@blog.description}}</h2>
    </header>
    {{/if}}
{{/is}}

<div class="post-feed">
{{#foreach posts}}

    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
    {{> "post-card"}}

{{/foreach}}
</div>

