{{!< default}} 
<div class="gh-page h-screen overflow-hidden snap-center relative">
    <div class="flex justify-evenly flex-col h-full">
        {{!-- Hero --}}
        <div>
            <h2 class="text-center text-7xl mt-auto">
                Explore
            </h2>
            <h3 id="changing-heading" class="changing-heading text-center text-yellow-500 mt-10">Cyprus</h3>
        </div>

        {{!-- Gallery --}}
        <div class="absolute bottom-0 left-1/2 -translate-x-1/2 overflow-hidden">
            <div class="grid w-[1750px] mx-auto grid-cols-7 grid-flow-row grid-rows-2 gap-8">
                <div class="animated-row-1 transition  duration-500 ease-in-out  row-span-1 col-span-1 opacity-0">
                    <img class=" rounded-2xl w-[236px] h-[350px]"
                        src="https://64.media.tumblr.com/70dff713cc413448966136289c8bf17e/9c755f10583d0cc2-27/s500x750/5a337ade84bf89443a916f320effbed81c52c1b9.png"
                        alt="">
                </div>
                <div class="animated-row-1 transition  duration-500 ease-in-out  row-span-1 col-span-1 opacity-0 ">
                    <img class=" rounded-2xl w-[236px] h-[350px]"
                        src="https://64.media.tumblr.com/70dff713cc413448966136289c8bf17e/9c755f10583d0cc2-27/s500x750/5a337ade84bf89443a916f320effbed81c52c1b9.png"
                        alt="">
                </div>
                <div class="animated-row-1 transition  duration-500 ease-in-out  row-span-1 col-span-1 opacity-0 ">
                    <img class=" rounded-2xl w-[236px] h-[350px]"
                        src="https://64.media.tumblr.com/70dff713cc413448966136289c8bf17e/9c755f10583d0cc2-27/s500x750/5a337ade84bf89443a916f320effbed81c52c1b9.png"
                        alt="">
                </div>
                <div class="animated-row-1 transition  duration-500 ease-in-out  row-span-1 col-span-1 opacity-0 ">
                    <img class=" rounded-2xl w-[236px] h-[350px]"
                        src="https://64.media.tumblr.com/70dff713cc413448966136289c8bf17e/9c755f10583d0cc2-27/s500x750/5a337ade84bf89443a916f320effbed81c52c1b9.png"
                        alt="">
                </div>
                <div class="animated-row-1 transition  duration-500 ease-in-out  row-span-1 col-span-1 opacity-0 ">
                    <img class=" rounded-2xl w-[236px] h-[350px]"
                        src="https://64.media.tumblr.com/70dff713cc413448966136289c8bf17e/9c755f10583d0cc2-27/s500x750/5a337ade84bf89443a916f320effbed81c52c1b9.png"
                        alt="">
                </div>
                <div class="animated-row-1 transition  duration-500 ease-in-out  row-span-1 col-span-1 opacity-0 ">
                    <img class=" rounded-2xl w-[236px] h-[350px]"
                        src="https://64.media.tumblr.com/70dff713cc413448966136289c8bf17e/9c755f10583d0cc2-27/s500x750/5a337ade84bf89443a916f320effbed81c52c1b9.png"
                        alt="">
                </div>
                <div class="animated-row-1 transition  duration-500 ease-in-out  row-span-1 col-span-1 opacity-0">
                    <img class=" rounded-2xl w-[236px] h-[350px]"
                        src="https://64.media.tumblr.com/70dff713cc413448966136289c8bf17e/9c755f10583d0cc2-27/s500x750/5a337ade84bf89443a916f320effbed81c52c1b9.png"
                        alt="">
                </div>
                <div class="animated-row-2 transition  duration-500 ease-in-out  row-span-1 col-span-1 opacity-0">
                    <img class=" rounded-2xl w-[236px] h-[350px]"
                        src="https://64.media.tumblr.com/70dff713cc413448966136289c8bf17e/9c755f10583d0cc2-27/s500x750/5a337ade84bf89443a916f320effbed81c52c1b9.png"
                        alt="">
                </div>
                <div class="animated-row-2 transition  duration-500 ease-in-out  row-span-1 col-span-1 opacity-0 ">
                    <img class=" rounded-2xl w-[236px] h-[350px]"
                        src="https://64.media.tumblr.com/70dff713cc413448966136289c8bf17e/9c755f10583d0cc2-27/s500x750/5a337ade84bf89443a916f320effbed81c52c1b9.png"
                        alt="">
                </div>
                <div class="animated-row-2 transition  duration-500 ease-in-out  row-span-1 col-span-1 opacity-0 ">
                    <img class=" rounded-2xl w-[236px] h-[350px]"
                        src="https://64.media.tumblr.com/70dff713cc413448966136289c8bf17e/9c755f10583d0cc2-27/s500x750/5a337ade84bf89443a916f320effbed81c52c1b9.png"
                        alt="">
                </div>
                <div class="animated-row-2 transition  duration-500 ease-in-out  row-span-1 col-span-1 opacity-0 ">
                    <img class=" rounded-2xl w-[236px] h-[350px]"
                        src="https://64.media.tumblr.com/70dff713cc413448966136289c8bf17e/9c755f10583d0cc2-27/s500x750/5a337ade84bf89443a916f320effbed81c52c1b9.png"
                        alt="">
                </div>
                <div class="animated-row-2 transition  duration-500 ease-in-out  row-span-1 col-span-1 opacity-0 ">
                    <img class=" rounded-2xl w-[236px] h-[350px]"
                        src="https://64.media.tumblr.com/70dff713cc413448966136289c8bf17e/9c755f10583d0cc2-27/s500x750/5a337ade84bf89443a916f320effbed81c52c1b9.png"
                        alt="">
                </div>
                <div class="animated-row-2 transition  duration-500 ease-in-out  row-span-1 col-span-1 opacity-0 ">
                    <img class=" rounded-2xl w-[236px] h-[350px]"
                        src="https://64.media.tumblr.com/70dff713cc413448966136289c8bf17e/9c755f10583d0cc2-27/s500x750/5a337ade84bf89443a916f320effbed81c52c1b9.png"
                        alt="">
                </div>
                <div class="animated-row-2  transition  duration-500 ease-in-out  row-span-1 col-span-1 opacity-0">
                    <img class=" rounded-2xl w-[236px] h-[350px]"
                        src="https://64.media.tumblr.com/70dff713cc413448966136289c8bf17e/9c755f10583d0cc2-27/s500x750/5a337ade84bf89443a916f320effbed81c52c1b9.png"
                        alt="">
                </div>
            </div>

            {{!-- Footer --}}
            <div class="fixed bottom-0 right-0 left-0">
                {{!-- Gradient --}}
                <div style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); opacity: 0.85;"
                    class="h-64">

                </div>
                {{!-- Arrow --}}
                <div class=" bg-themeYellow !h-24 flex justify-center align-middle items-center">
                    <h6 class="text-center animate-bounce mt-2">
                        ↓
                    </h6>
                </div>
            </div>
        </div>

        <script>
            function getRandomOrder(n) {
                const arr = Array.from({ length: n }, (_, index) => index);

                for (let i = n - 1; i > 0; i--) {
                    const j = Math.floor(Math.random() * (i + 1));
                    [arr[i], arr[j]] = [arr[j], arr[i]];
                }

                return arr;
            }

            document.addEventListener("DOMContentLoaded", function () {
                var headings = ["Cyprus", "Turkey", "Greece", "Theth"]; // Array of different texts to display
                var currentIndex = 0;
                var changingHeading = document.getElementById("changing-heading");
                const row1elements = document.querySelectorAll('.animated-row-1');
                const row2elements = document.querySelectorAll('.animated-row-2');
                const classes = ["translate-y-4", "translate-y-32", "translate-y-64", "translate-y-96", "translate-y-64", "translate-y-32", "translate-y-4"]

                const greece = [
                    'https://cdn.pixabay.com/photo/2017/10/20/09/11/travel-2870524_1280.jpg',
                    'https://cdn.pixabay.com/photo/2017/10/20/09/11/travel-2870524_1280.jpg',
                    'https://cdn.pixabay.com/photo/2017/10/20/09/11/travel-2870524_1280.jpg',
                    'https://cdn.pixabay.com/photo/2017/10/20/09/11/travel-2870524_1280.jpg',
                    'https://cdn.pixabay.com/photo/2017/10/20/09/11/travel-2870524_1280.jpg',
                    'https://cdn.pixabay.com/photo/2017/10/20/09/11/travel-2870524_1280.jpg',
                    'https://cdn.pixabay.com/photo/2017/10/20/09/11/travel-2870524_1280.jpg',
                    'https://cdn.pixabay.com/photo/2017/10/20/09/11/travel-2870524_1280.jpg',
                    'https://cdn.pixabay.com/photo/2017/10/20/09/11/travel-2870524_1280.jpg',
                    'https://cdn.pixabay.com/photo/2017/10/20/09/11/travel-2870524_1280.jpg',
                    'https://cdn.pixabay.com/photo/2017/10/20/09/11/travel-2870524_1280.jpg',
                    'https://cdn.pixabay.com/photo/2017/10/20/09/11/travel-2870524_1280.jpg',
                    'https://cdn.pixabay.com/photo/2017/10/20/09/11/travel-2870524_1280.jpg',
                    'https://cdn.pixabay.com/photo/2017/10/20/09/11/travel-2870524_1280.jpg'
                ];

                const cyprus = [
                    'https://www.wallpaperflare.com/static/829/747/639/st-george-hotel-cyprus-aerial-view-island-wallpaper.jpg',
                    'https://www.wallpaperflare.com/static/829/747/639/st-george-hotel-cyprus-aerial-view-island-wallpaper.jpg',
                    'https://www.wallpaperflare.com/static/829/747/639/st-george-hotel-cyprus-aerial-view-island-wallpaper.jpg',
                    'https://www.wallpaperflare.com/static/829/747/639/st-george-hotel-cyprus-aerial-view-island-wallpaper.jpg',
                    'https://www.wallpaperflare.com/static/829/747/639/st-george-hotel-cyprus-aerial-view-island-wallpaper.jpg',
                    'https://www.wallpaperflare.com/static/829/747/639/st-george-hotel-cyprus-aerial-view-island-wallpaper.jpg',
                    'https://www.wallpaperflare.com/static/829/747/639/st-george-hotel-cyprus-aerial-view-island-wallpaper.jpg',
                    'https://www.wallpaperflare.com/static/829/747/639/st-george-hotel-cyprus-aerial-view-island-wallpaper.jpg',
                    'https://www.wallpaperflare.com/static/829/747/639/st-george-hotel-cyprus-aerial-view-island-wallpaper.jpg',
                    'https://www.wallpaperflare.com/static/829/747/639/st-george-hotel-cyprus-aerial-view-island-wallpaper.jpg',
                    'https://www.wallpaperflare.com/static/829/747/639/st-george-hotel-cyprus-aerial-view-island-wallpaper.jpg',
                    'https://www.wallpaperflare.com/static/829/747/639/st-george-hotel-cyprus-aerial-view-island-wallpaper.jpg',
                    'https://www.wallpaperflare.com/static/829/747/639/st-george-hotel-cyprus-aerial-view-island-wallpaper.jpg',
                    'https://www.wallpaperflare.com/static/829/747/639/st-george-hotel-cyprus-aerial-view-island-wallpaper.jpg'
                ];

                const imageSets = [greece, cyprus, greece, cyprus];

                let row1idx = 0;
                let row2idx = 0;
                const randomArray1 = getRandomOrder(7)
                const randomArray2 = getRandomOrder(7)

                const initialImagesPrint1 = setInterval(() => {
                    if (row1idx >= row1elements.length) {
                        clearInterval(initialImagesPrint1);
                        return;
                    }
                    const div = row1elements[randomArray1[row1idx]];
                    const img = div.querySelector('img:first-child');
                    img.src = imageSets[currentIndex][randomArray1[row1idx]];
                    div.classList.add(classes[randomArray1[row1idx] % 7]);
                    div.classList.remove('opacity-0');
                    row1idx++;
                }, 250);

                const initialImagesPrint2 = setInterval(() => {
                    if (row2idx >= row2elements.length) {
                        clearInterval(initialImagesPrint2);
                        return;
                    }
                    const div = row2elements[randomArray2[row2idx]];
                    const img = div.querySelector('img:first-child');
                    img.src = imageSets[currentIndex][randomArray2[row2idx]];
                    div.classList.add(classes[randomArray2[row2idx] % 7]);
                    div.classList.remove('opacity-0');
                    row2idx++;
                }, 250);

                setInterval(function () {
                    const randomArray1 = getRandomOrder(7)
                    const randomArray2 = getRandomOrder(7)
                    changingHeading.classList.remove("appear-from-bottom-animation");
                    changingHeading.classList.add("fly-up-animation");
                    let removeRow1idx = 0;
                    let removeRow2idx = 0;

                    const removeClassesRow1 = setInterval(() => {
                        if (removeRow1idx >= row1elements.length) {
                            clearInterval(removeClassesRow1);
                            return;
                        }
                        const div = row1elements[randomArray1[removeRow1idx]];
                        div.classList.add('opacity-0');

                        removeRow1idx++;
                    }, 100);

                    const removeClassesRow2 = setInterval(() => {
                        if (removeRow2idx >= row2elements.length) {
                            clearInterval(removeClassesRow2);
                            return;
                        }
                        const div = row2elements[randomArray2[removeRow2idx]];
                        div.classList.add('opacity-0');

                        removeRow2idx++;
                    }, 100);

                    setTimeout(function () {
                        const randomArray1 = getRandomOrder(7)
                        const randomArray2 = getRandomOrder(7)
                        changingHeading.textContent = headings[currentIndex];
                        changingHeading.classList.remove("fly-up-animation");
                        changingHeading.classList.add("appear-from-bottom-animation");
                        let row1idx = 0;
                        let row2idx = 0;

                        const applyClassesRow1 = setInterval(() => {
                            if (row1idx >= row1elements.length) {
                                clearInterval(applyClassesRow1);
                                return;
                            }
                            const div = row1elements[randomArray1[row1idx]];
                            const img = div.querySelector('img:first-child');
                            img.src = imageSets[currentIndex][randomArray1[row1idx]];
                            div.classList.add(classes[randomArray1[row1idx] % 7]);
                            div.classList.remove('opacity-0');
                            row1idx++;
                        }, 250);

                        const applyClassesRow2 = setInterval(() => {
                            if (row2idx >= row2elements.length) {
                                clearInterval(applyClassesRow2);
                                return;
                            }
                            const div = row2elements[randomArray2[row2idx]];
                            const img = div.querySelector('img:first-child');
                            img.src = imageSets[currentIndex][randomArray2[row2idx]];
                            div.classList.add(classes[randomArray2[row2idx] % 7]);
                            div.classList.remove('opacity-0');
                            row2idx++;
                        }, 250);
                    }, 500);
                    currentIndex = (currentIndex + 1) % headings.length;
                }, 5000);
            });
        </script>

        {{!-- TODO: remove it --}}
        <div class="gh-postfeed">
        </div>
        {{!-- If JS isn't enabled, fallback to standard pagination --}}
        {{!-- <noscript>
            <div class="gh-pagination">
                {{pagination}}
            </div>
        </noscript> --}}
    </div>
</div>

<div class="gh-page h-screen overflow-hidden bg-themeYellow snap-center">
    <h1 class="mt-40 text-center">Blog</h1>
</div>

<div class="gh-page h-screen overflow-hidden bg-themeBlue snap-center">
    <h1 class="mt-40 text-center">Blog</h1>
</div>

<div class="gh-page h-screen overflow-hidden bg-themeGreen snap-center">
    <h1 class="mt-40 text-center">Blog</h1>
</div>

<div class="gh-page h-screen overflow-hidden bg-themePink snap-center">
    <h1 class="mt-40 text-center">Blog</h1>
</div>

<div class="gh-page h-screen overflow-hidden bg-[#fff] snap-center">
    <h1 class="mt-40 text-center">Blog</h1>
</div>