    {{!< default}}
    <div class="logo-container">
      <img 
        src="/assets/images/logo.svg"
        alt="XO Ruby Logo"
        width="300"
        height="300"
        class="logo"
      />
    </div>