{{!< default}}

<main class="site-main">

    {{#post}}
    <article class="gh-article {{post_class}}">

        {{#match @page.show_title_and_feature_image}}
            <header class="gh-article-header gh-canvas">
                <h1 class="gh-article-title">{{title}}</h1>

                {{#if custom_excerpt}}
                    <p class="gh-article-excerpt">{{custom_excerpt}}</p>
                {{/if}}

                {{> "post-image"}}
            </header>
        {{/match}}

        <div class="gh-content gh-canvas">
            {{content}}
        </div>

    </article>
    {{/post}}

</main>