.term {
  max-width: 560px;
  margin-bottom: 48px;
}

.term .author-image-placeholder {
  margin-bottom: 16px;
}

.term-name {
  color: #009cea;
  font-size: 32px;
  line-height: normal;
  margin-top: 10px;
}

.term-description {
  color: white;
  font-size: 18px;
  margin-top: 12px;
  line-height: 1.5;
}

.tagBackButton {
  position: static !important;
  padding: 6px 12px !important;
}
