/* Global Footer
/* ---------------------------------------------------------- */

.gh-foot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 80px;
}

.gh-foot .gh-container {
}

.gh-foot a {
    color: inherit;
}

.gh-foot-menu {
    @apply font-bold uppercase;
    font-family: Advent Pro, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.gh-foot-menu .nav {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1.8rem;
}

.gh-foot-menu .nav li {
    margin: 0 1.5vmin;
    padding: 0;
}

.gh-foot-menu .nav a {
    display: inline-block;
    padding: 3px 0;
    text-decoration: none;
}

.gh-foot-meta {
    margin: 2rem 0;
    font-size: 1.5rem;
    text-align: center;
    opacity: 0.75;
}

.footer-border {
    @apply flex flex-col divide-y divide-orange-primary divide-y-4;
}

.top-footer {
    @apply  flex flex-row items-center justify-between pb-6;
}

.social-media {
    @apply flex flex-row items-center gap-4;
}

.copyright {
    @apply text-xs capitalize;
    font-family: Red Hat Display, sans-serif !important;
}

@media (max-width: 700px) {
    .gh-foot-menu .nav {
        font-size: 1.6rem;
    }
}
