/*

This is a development CSS file which is compiled to a minified
production stylesheet in assets/built/screen.css using: gulp dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base */
@import "vars.css";
@import "components/global.css";

/* Ghost components */
@import "components/content.css";
@import "components/members.css";

/* Global components */
@import "components/forms.css";
@import "components/buttons.css";


/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

/* Global */
.gh-container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

/* Header */
.gh-head {
    padding: 20px 4vw;
    color: #fff;
    background: var(--color-base);
}

.gh-head a {
    color: #fff;
    line-height: 1.2em;
    text-decoration: none;
}

.gh-head .gh-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr auto 1fr;
}

.gh-head-menu {
    display: flex;
    align-items: center;
}

.gh-head-menu .nav {
    display: flex;
    align-items: center;
    list-style: none;
}

.gh-head-menu .nav li {
    margin: 0 10px 0 0;
    padding: 0;
}

.gh-head-brand {
    max-width: 200px;
    text-align: center;
    word-break: break-all;
}

.gh-head-logo {
    display: block;
}

.gh-head-logo img {
    max-height: 40px;
}

.gh-head-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

/* Footer */
.gh-foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 4vw;
    color: #fff;
    background: var(--color-base);
}

.gh-foot a {
    color: #fff;
}
