/*

This is a development CSS file which is compiled to a minified
production stylesheet in assets/built/screen.css using: gulp dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base */
@import "vars.css";
@import "components/global.css";

/* Ghost components */
@import "components/header.css";
@import "components/content.css";
@import "components/members.css";

/* Global components */
@import "components/forms.css";
@import "components/buttons.css";


/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

html,
.gh-viewport {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #fff;
}

.gh-main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

/* Global */

.gh-page {
    padding: 0 4vw;
}

.gh-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.gh-head-actions a {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.gh-head-actions a svg {
    height: 1.8rem;
    fill: currentcolor;
}

.gh-head-actions a:first-child svg {
    margin-left: 20px;
}

.gh-head-actions a:last-child svg {
    height: 2rem;
}

/* Index
/* ---------------------------------------------------------- */

.post-card {
    margin: 0 0 4vw;
}

.post-card-link {
    display: flex;
    justify-content: space-between;
}

.post-card-image {
    margin-left: 4vw;
    width: 300px;
    height: 200px;
    object-fit: cover;
}


/* Post
/* ---------------------------------------------------------- */

.gh-header {
    padding: 0 0 4vw 0;
}

.gh-title {
    margin-top: 4vw;
}

.gh-image {
    grid-column: full-start / full-end;
    width: 100%;
}

.gh-post-footer {
    margin: 2rem 0;
}

/* Errors
/* ---------------------------------------------------------- */

.gh-error {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2vmin;
}

.gh-error-content {
    flex: 1 0 auto;
    text-align: center;
}

.gh-error-code {
    margin: 0;
    font-size: 14vmin;
}

.gh-error-description {
    font-size: 4vmin;
    font-weight: 300;
    opacity: 0.6;
}

.gh-error-link {
    display: block;
    margin-top: 4vmin;
    font-size: 1.6rem;
}


/* Footer
/* ---------------------------------------------------------- */
.gh-foot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vw;
}

.gh-foot .gh-container {
    width: auto;
}

.gh-foot a {
    color: inherit;
}
