/*

This is a development CSS file which is compiled to a minified
production stylesheet in assets/built/screen.css using: gulp dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base */
@import "vars.css";
@import "components/global.css";

/* Ghost components */
@import "components/header.css";
@import "components/content.css";
@import "components/members.css";

/* Global components */
@import "components/forms.css";
@import "components/buttons.css";


/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

/* Global */
.gh-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.gh-main {
    padding: 0 4vw;
}


/* Footer
/* ---------------------------------------------------------- */
.gh-foot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vw;
}

.gh-foot .gh-container {
    width: auto;
}

.gh-foot a {
    color: inherit;
}
