/* Buttons
/* ---------------------------------------------------------- */

.button {
    display: inline-block;
    height: var(--height);
    padding: 0 2rem;
    border: 0;
    border-radius: var(--radius);
    cursor: pointer;
    font-family: var(--font-sans-serif);
    font-size: 1.4rem;
    font-weight: var(--font-normal);
    line-height: var(--height);
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    appearance: none;
    transition: 0.4s ease;
}

.button.fit {
    width: 100%;
}

.button.small {
    height: calc(var(--height) * 0.9);
    line-height: calc(var(--height) * 0.9);
    padding: 0 1.5rem;
    font-size: 1.2rem;
}

.button.large {
    height: calc(var(--height) * 1.14);
    line-height: calc(var(--height) * 1.14);
    padding: 0 3rem;
    font-size: 1.6rem;
}

.button.disabled,
.button:disabled {
    pointer-events: none;
    opacity: 0.4;
}

.button {
    color: var(--color-primary) !important;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px var(--color-primary);
}

.button:hover {
    text-decoration: none;
    color: color(var(--color-primary) l(-15%)) !important;
    box-shadow: inset 0 0 0 2px color(var(--color-primary) l(-10%));
    transition: 0.2s ease;
}

.button.primary {
    color: #fff !important;
    background-color: var(--color-primary);
    box-shadow: none;
}

.button.primary:hover {
    background-color: color(var(--color-primary) l(-10%));
}
