
/* Content grid
/* ---------------------------------------------------------- */
.gh-canvas {
    display: grid;
    grid-template-columns:
    [full-start]
      minmax(calc(calc(100% - 720px) / 2), 1fr)
        [wide-start]
            1fr
                [main-start]
                    repeat(10, [col-start] 1fr)
                [main-end]
            1fr
        [wide-end]
      minmax(calc(calc(100% - 720px) / 2), 1fr)
    [full-end]
    ;
}

@media (max-width: 600px) {
    .gh-canvas {
        grid-template-columns:
            [full-start]
              minmax(calc(calc(100% - 720px) / 2), 1fr)
                [wide-start main-start]
                    repeat(10, [col-start] 1fr)
                [main-end wide-end]
              minmax(calc(calc(100% - 720px) / 2), 1fr)
            [full-end]
        ;
    }
}

.gh-canvas > * {
    grid-column: main-start / main-end;
}

.kg-width-wide {
    grid-column: wide-start / wide-end;
}

.kg-width-full {
    grid-column: full-start / full-end;
}


/* Tables
/* ---------------------------------------------------------- */

.gh-content table {
    border-collapse: separate;
    margin: 0 0 var(--margin) 0;
    width: 100%;
    font-size: 0.8em;
}

.gh-content th {
    color: var(--color-base);
    font-size: 0.9em;
    font-weight: var(--font-bold);
    padding: 0 0.7em 0.4em 0.7em;
    text-align: left;
}

.gh-content td {
    padding: 0.4em 0.7em;
    border-left-width: 0;
    border-top-width: 0;
}

.gh-content td:first-child {
    border-left-width: 1px;
}

.gh-content tbody tr {
    border: solid 1px var(--color-border);
    border-left: 0;
    border-right: 0;
}

.gh-content tbody tr:first-child td {
    border-top-width: 1px;
}

.gh-content tbody tr:nth-child(2n + 1) {
    background-color: var(--color-bg);
}

.gh-content tbody td {
    border: solid 1px var(--color-border);
    border-left-width: 0;
    border-top-width: 0;
}

.gh-content tfoot {
    border-width: 0;
}

/* Standard content
/* ---------------------------------------------------------- */

.gh-content h1 {
    margin: 0.5em 0 0.4em;
}

.gh-content p + h1 {
    margin-top: 0.8em;
}

.gh-content h2 {
    margin: 0.5em 0 0.3em;
}

.gh-content p + h2 {
    margin-top: 0.8em;
}

.gh-content h3 {
    margin: 0.5em 0 0.2em;
}

@media (max-width: 800px) {
    .gh-content h3 {
        margin-bottom: 0.3em;
    }
}

.gh-content h2 + h3 {
    margin-top: 0.7em;
}

.gh-content h4 {
    margin: 0.5em 0 0.2em;
}

.gh-content h2 + h4 {
    margin-top: 0.7em;
}

.gh-content h3 + h4 {
    margin-top: 0;
}

@media (max-width: 800px) {
    .gh-content h4 {
        margin-bottom: 0.3em;
    }
}

.gh-content h6 {
    margin: 0.5em 0 0.2em 0;
}

.gh-content table {
    margin: 0.5em 0 2.5em;
}


/* Cards
/* ---------------------------------------------------------- */

.gh-content > * + * {
    margin-top: 1.5rem;
}
.gh-content > h1 + *,
.gh-content > h2 + *,
.gh-content > h3 + *,
.gh-content > h4 + *,
.gh-content > h5 + *,
.gh-content > h6 + * {
    margin-top: 0;
}

:not(.kg-card):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + .kg-card {
    margin-top: 7vw;
}

.kg-card + :not(.kg-card):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    margin-top: 7vw;
}

.kg-card figcaption {
    padding: 1.5rem 1.5rem 0;
    font-size: 1.3rem;
    line-height: 1.4em;
    font-weight: 600;
    color: var(--color-base);
    text-align: center;
    opacity: 0.4;
}

.gh-canvas > pre {
    overflow: scroll;
    border-radius: 5px;
    box-shadow: 0 2px 6px -2px rgba(0,0,0,.1), 0 0 1px rgba(0,0,0,.4);
    padding: 16px 20px;
}


.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Card captions
/* ---------------------------------------------------------- */
.kg-width-full.kg-card-hascaption {
    display: grid;
    grid-template-columns: inherit;
}

.kg-width-wide.kg-card-hascaption img {
    grid-column: wide-start / wide-end;
}
.kg-width-full.kg-card-hascaption img {
    grid-column: full-start / full-end;
}

.kg-width-full.kg-card-hascaption figcaption {
    grid-column: main-start / main-end;
}


/* Galleries
/* ---------------------------------------------------------- */
.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}


/* Bookmark Cards
/* ---------------------------------------------------------- */

.kg-bookmark-container {
    display: flex;
    min-height: 148px;
    color: #131313;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.kg-bookmark-container:hover {
    text-decoration: none;
}

.kg-bookmark-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}

.kg-bookmark-title {
    color: inherit;
    font-size: 1.6rem;
    line-height: 1.5em;
    font-weight: 600;
}

.kg-bookmark-description {
    display: -webkit-box;
    font-size: 1.4rem;
    line-height: 1.5em;
    margin-top: 10px;
    color: #54666d;
    font-weight: 400;
    max-height: 44px;
    overflow-y: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.kg-bookmark-thumbnail {
    position: relative;
    flex-grow: 1;
    min-width: 33%;
    max-height: 100%;
}

.kg-bookmark-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 3px 3px 0;
    object-fit: cover;
}

.kg-bookmark-metadata {
    display: flex;
    align-items: center;
    margin-top: 14px;
    color: #343f44;
    font-size: 1.4rem;
    font-weight: 500;
}

.kg-bookmark-icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.kg-bookmark-author {
    line-height: 1.5em;
}

.kg-bookmark-author:after {
    content: "•";
    margin: 0 6px;
}

.kg-bookmark-publisher {
    display: block;
    max-width: 240px;
    color: #343f44;
    white-space: nowrap;
    overflow: hidden;
}
