/* Styling for Ghost-specific elements
/* ---------------------------------------------------------- */

.kg-card {
    margin: 7vw 0;
}

.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.kg-image {
    max-width: 100%;
}

.kg-card figcaption {
    padding: 1.5rem;
    font-size: 1.3rem;
    line-height: 1.4em;
    font-weight: 600;
    color: var(--color-base);
    text-align: center;
    opacity: 0.4;
}


/* Wide cards
/* ---------------------------------------------------------- */

.kg-width-wide {
    position: relative;
    width: 75vw;
    min-width: 100%;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    transform: translateX(calc(50vw - 50%));
}

.kg-width-full {
    position: relative;
    width: 94vw;
    min-width: 100%;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    transform: translateX(calc(50vw - 50%));
}

.kg-width-full figcaption {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}

@media (max-width: 800px) {
    .kg-width-full {
        width: 100vw;
    }
    .kg-width-full figcaption {
        padding-left: 6vw;
    }
}


/* Galleries
/* ---------------------------------------------------------- */

.kg-gallery-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 75vw;
    min-width: 100%;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    transform: translateX(calc(50vw - 50%));
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}

.kg-gallery-card + .kg-image-card.kg-width-wide,
.kg-gallery-card + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-image-card.kg-width-wide {
    margin-top: calc( -7vw + 0.75em );
}


/* Members Forms
/* ---------------------------------------------------------- */

form[data-members-form] .button-loader,
form[data-members-form] .message-success,
form[data-members-form] .message-error {
    display: none;
}

.message-success svg,
.message-error svg {
    position: relative;
    top: -1px;
    margin-right: 5px;
    height: 15px;
    width: 15px;
}
.message-success svg {
    fill: #fff;
}
.message-error svg {
    fill: var(--color-primary);
}

form[data-members-form].success .message-success,
form[data-members-form].error .message-error {
    position: fixed;
    top: 20px;
    left: 6vw;
    right: 6vw;
    z-index: 9999;
    max-width: calc(1400px - 12vw);
    margin: 0 auto;
    padding: 10px 0;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.5em;
    font-weight: 500;
    text-align: center;
    background: var(--color-base);
    border-radius: var(--radius);
}
form[data-members-form].success .message-success {
    background: var(--color-success);
}
form[data-members-form].error .message-error {
    color: var(--color-primary);
    background: #fff;
    box-shadow: var(--color-primary) 0 0 0 1px;
}

form[data-members-form] .button {
    position: relative;
}

/*-- Loading --*/

/* Hide button text */
form[data-members-form].loading .button-content {
    visibility: hidden;
}

/* Show loading spinner */
form[data-members-form].loading .button-loader {
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -19px;
    transform: scale(0.7);
}

.button-loader svg path,
.button-loader svg rect{
  fill: #fff;
}

/*-- Show success message on success --*/
form[data-members-form].success .message-success {
    display: block;
}

/*-- Show error message on error --*/
form[data-members-form].error .message-error {
    display: block;
}
