<section class="main-banner">
    <div class="main-img"><img src="{{@site.cover_image}}" alt="" /></div>
    <div class="frame-group">
        <div class="frame-content">
            <h1>{{{t "Let's Journey Further, Together"}}}</h1>
            <p>{{t "banner.detail"}}</p>
            <button class="lb-btn">{{t "banner.btn"}}</button>
        </div>
    </div>
</section>
