.post-feed {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.post-link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.post-link:hover {
  opacity: 1;
}

.post-image {
  width: 100%;
  cursor: pointer;
}

.post-wrapper {
  flex-grow: 1;
  padding: 16px 0px;
  background-color: transparent;
}

.post-tag {
  width: fit-content;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  background-color: rgba(0, 120, 255, 0.2);
  color: var(--tag-color, var(--ghost-accent-color));
  letter-spacing: 0.005em;
  padding: 3px 12px;
  cursor: pointer;
}

.post-title {
  margin: 16px 0px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  word-break: break-word;
  cursor: pointer;
}

.has-serif-title .post-title {
  font-family: var(--font-serif);
}

.post-excerpt {
  margin-top: 12px;
  font-size: 1.4rem;
  line-height: 1.6;
  word-break: break-word;
}

.has-serif-body .post-excerpt {
  font-family: var(--font-serif);
}

.post-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  padding: 0 20px;
  background-color: var(--white-color);
  border-top: 1px solid var(--light-gray-color);
}

.post-more {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.005em;
}

.post-author {
  display: flex;
  margin-right: 2px;
}

.post-author-link {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 -4px;
}

.post-author-link:first-child {
  z-index: 10;
}

.post-author-link:nth-child(2) {
  z-index: 9;
}

.post-author-link:nth-child(3) {
  z-index: 8;
}

.post-author-link:nth-child(4) {
  z-index: 7;
}

.post-author-link:nth-child(5) {
  z-index: 6;
}

.post-author-image {
  width: 100%;
  height: 100%;
  border: 2px solid var(--white-color);
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .post-feed {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .post-feed {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .post-feed {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 992px) {
  .is-head-stacked .post-feed {
    margin-top: 32px;
  }
}

/* DappLooker Customised CSS */
.blogTitleSection {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 32px;
}
.blogTitle {
  color: white;
  font-size: 42px;
  line-height: normal;
  font-weight: 500;
}

.post-header {
  display: flex;
  flex-direction: column;
}

.copyContainer:active {
  transform: translate(0, 5px);
}

.older-posts {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 12px 20px;
  grid-column-start: 2;
}
