.related-wrapper {
  margin-top: 40px;
}

.related-title {
  margin: 40px 0 22px;
  text-transform: capitalize;
  color: white;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* DappLooker Custom Css */
.related-posts {
  border-top: 1px solid #6c7880;
}
